.profile__edit-button {
    width: 24px;
    height: 24px;
    background-image: url("../../../images/edit-button.svg");
    background-size: cover;
    transition: 0.2s;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

/* для разрешения 425px */
@media screen and (max-width: 425px) {
    .profile__edit-button {
        margin-top: 8px;
        width: 18px;
        height: 18px;
    }
}