.profile__subtitle {
    max-width: 336px;
    padding: 0;
    margin: 8px 0 0 0;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* для разрешения 425px */
@media screen and (max-width: 425px) {
    .profile__subtitle {
        margin-top: 7px;
        height: 14px;
        width: 282px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}