.profile__title {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
    margin: 0;
    padding: 0;
}

/* для разрешения 768px */
@media screen and (max-width: 768px) {
    .profile__title {
        font-size: 32px;
        line-height: 39px;
    }
}

/* для разрешения 425px */
@media screen and (max-width: 425px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        max-width: 189px;
        margin-left: 27.25px;
    }
}