.elements__like_active {
    margin: 0;
    padding: 0;
    width: 22px;
    height: 19px;
    background-image: url("../../../../images/elements__like_active.svg");
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease-in;
    border: none;
    background-color: transparent;
}

.elements__like_active:hover {
    opacity: 0.5;
}