.profile__edit-button-element {
    padding: 0;
    margin: 7px;
    width: 10px;
    height: 10px;
}

/* для разрешения 425px */
@media screen and (max-width: 425px) {
    .profile__edit-button-element {
        margin: 5.25px;
        width: 7.5px;
        height: 7.5px;
    }
}