.popup__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../../../images/popup__close-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .popup__close {
        width: 20px;
        height: 20px;
    }
}