.popup__close {
    margin: 0 0 0 auto;
    padding: 0;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    background-image: url("../../../images/popup__close-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease-in;
    position: absolute;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 525px) {
    .popup__close {
        right: 0px;
    }
}

@media screen and (max-width: 425px) {
    .popup__close {
        width: 20px;
        height: 20px;
    }
}