.popup__window {
    display: flex;
    flex-direction: column;
    margin-top: 155px;
    max-width: 470px;
    width: 100%;
    min-height: 370px;
    top: 155px;
}

@media screen and (max-width: 425px) {
    .popup__window {
        max-width: 282px;
        width: 100%;
        min-height: 358px;
    }
}